body{
    background: #f1f8e9;
}
nav{
    background: #1de9b6;
}
footer{
    background: #1de9b6;
}
main{
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container{
    margin: 5% auto auto auto;
    width: 26%;
    color: black;
}
@media only screen and (max-width: 900px) {
    .container {
        margin: 7% auto auto auto;
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 7% auto auto auto;
        width: 80%;
    }
}